@font-face {
    font-family: 'kidspace';
    src: url("assets/Kidspace-DEMO.ttf") format('truetype');
    font-weight: 200;
    font-style: light;
}
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    background-color: #003366;
/*trying to get a spaceship cursor*/  
    cursor: url("../assets/png-clipart-red-spaceship-rocket-icon-rocket-image-file-formats-cartoon.png") 16 16 auto;
}

h1, h2 {
    margin: 1em auto;
    text-align: center;
    font-family: 'kidspace';
    color: white;

}

.form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

label {
    display: block;
    margin: 0.5rem 0;
}

fieldset {
    border: none;
    padding: 1rem 0;
}

input {
 
  width: 100%;
  min-height: 2em;
}

#addBook {
    display: block;
    width: 40%;
    margin: 1em auto;
    height: 2em;
    min-width: 300px;
    font-size: 16px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 16px;
}

td, th {
    text-align: center;
    padding: 10px;
}

tr {
    display: table-row;
}

